@import url('https://api.fontshare.com/v2/css?f[]=switzer@1&display=swap');

@import 'tailwindcss';

:root {
  --Z: #02e869;
  --Bg-1: #000000;
  --Bg-2: #16161b;
  --Bg-3: #292931;
  --Fg-1: #ffffff;

  --Stroke: linear-gradient(
    94deg,
    rgba(255, 255, 255, 0.2) 6.02%,
    rgba(255, 255, 255, 0.1) 97.17%
  );
}

body {
  font-family: 'Switzer', sans-serif;
  background: linear-gradient(180deg, #18181b 0%, #000 100%);
  color: #fff;
}

.text-Z {
  color: var(--Z);
}
